<ActionBar title="View Element Animations">
    <ActionItem text="首页" ios.position="right" [nsRouterLink]="['/courses']" pageTransition="flipRight"
                clearHistory="true"></ActionItem>
</ActionBar>
<ScrollView>
    <GridLayout rows="auto auto auto" class="p-20 list-group">

        <StackLayout row="0" class="list-group-item">
            <Label text="css animation:" class="label"></Label>
            <Button class="btn btn-primary btn-rounded-lg active-animation-btn" text="infinite animation"></Button>
        </StackLayout>

        <StackLayout row="1" class="list-group-item">
            <Label text="trigger animation:" class="label"></Label>
            <Button [@activeState]="triggerActive? 'active': 'inactive'" class="btn btn-primary btn-rounded-lg"
                    text="Tap me"
                    (tap)="triggerActive = !triggerActive"></Button>
        </StackLayout>

        <StackLayout row="2" class="list-group-item">
            <Label text="chain animation:" class="label"></Label>
            <AbsoluteLayout class="m-15 bg-primary" width="300" height="300" borderRadius="20">
                <Label #label (loaded)="chainAnimate(label)" text="{N}" color="white" width="40" height="40"
                       textAlignment="center" backgroundColor="White"
                       borderRadius="2" fontSize="16"></Label>
            </AbsoluteLayout>
        </StackLayout>

    </GridLayout>
</ScrollView>