<ActionBar [title]="title">
    <NavigationButton text="Go Back" *ngIf="!hideBackAndroidButton" android.systemIcon="ic_menu_back"
                      (tap)="routeBack()"></NavigationButton>
</ActionBar>
<ListView [items]="courses" class="list-group">
    <template let-item="item">
        <GridLayout [nsRouterLink]="item.link" pageTransition="flipRight" class="list-group-item">
            <Label [text]="item.title" class="list-group-item-heading"></Label>
        </GridLayout>
    </template>
</ListView>